body { 
	background: gray;
	background-image:url("comp.jpg");
	color: white;
<<<<<<< HEAD
}
=======

>>>>>>> 989c23ba6f3935d6ab30ffbeb0e68214a8a426cc
hl{
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	text-shadow: 3px 2px black;
}

.video {
	width: 500px;
	margin: 0 auto;
	text-align: center;
<<<<<<< HEAD
}

=======
>>>>>>> 989c23ba6f3935d6ab30ffbeb0e68214a8a426cc
