<!DOCTYPE html>
<html>
<title>¯\_(ツ)_/¯</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body  {
  background-image: url("wood.jpg");
  background-color: #cccccc;
}
</style>
<body>
<body style="background-color:salmon;">
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="{{url_for('main')}}" class="w3-bar-item w3-button">Home</a>
  <a href="{{url_for('upload')}}" class="w3-bar-item w3-button">Input Document</a>
  <a href="{{url_for('about')}}" class="w3-bar-item w3-button">About</a>
</div>

<!-- Page Content -->
<style>h1 {text-align: center;}</style>
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
  <div class="w3-container">
	<h1>----------Gugel----------</h1>
    <h1>Trusted 100% Legit Reliable Search Engine</h1>
  </div>
</div>

<p style="color:salmon">test </p>

<style>p {text-align: justify; min-width: 1000px; max-width: 1000px; margin: 0 auto}</style>
<p>program search engine sederhana ini menggunakan konsep temu-balik informasi dengan model ruang vektor dan menggunakan cosine similarity untuk mencari relevansi antara dokumen dengan search query yang ada.
temu-balik informasi sendiri singkatnya adalah sistem yang bekerja untuk mencari informasi yang relevan (dokumen) dengan yang diinginkan pengguna (search query) dari kumpulan-kumpulan informasi secara otomatis.
secara lebih detail bagaimana cara kerja sistem temu-balik informasi dengan model ruang vektor sebagai berikut :
misalkan sudah ada kumpulan dokumen pada search engine kami, kemudian dari kumpulan dokumen tersebut kami proses sehingga mendapatkan sejumlah term atau kata.
proses yang dilakukan adalah menyederhanakan kata-kata yang ada pada dokumen menjadi kata dasar, menghilangkan tanda baca dan pungtuasi sehingga term atau kata yang ada menjadi bermakna umum.
setelah mendapatkan kumpulan term, seluruh dokumen dan search query dinyatakan sebagai vektor. contoh vektor w=(w1,w2,..,wn) dalam R^n dengan wi adlaah bobot setiap kata atau term yang ada dalam query atau dokumen.
setelah terbentuk vektor-vektor, untuk mendapatkan relevansi antara query dengan dokumen-dokumen yang ada, dapat dilakukan dengan cara menghitung cosine similarity.
cosine similarity ini merupakan perkalian dot 2 buah vektor, tetapi yang kita cari adalah cos teta nya.
karena di awal kita ingin mencari dokumen yg paling relevan dengan query, maka kita bandingkan cosine similarity antara seluruh dokumen dengan query.
jika hasil cosine similarity tinggi (mendekati satu) maka semakin tinggi pula relevansi antara dokumen dengan query.

How to use :
1.Buka terminal (cmd) pastikan berada di directory di mana file berada.
2.Masuk ke directory venv/Scripts lalu tulis activate di terminal untuk mengaktifkan virtual environtment.
3.Kembali ke directory di mana file berada.
4.Jalankan app.py dengan menulis app.py di terminal.
5.Buka http://localhost:5000/ di browser anda.

About us :
Project pembuatan search engine sederhana ini berawal dari tugas besar mata kuliah Aljabar Linier dan Geometri Teknik Informatika ITB.
Kami memberi nama search engine sederhana kami dengan nama gugel. Tidak ada filosofi apapun, murni hanya pelesetan dari search engine ternama di dunia, yaitu mozila firefox.

Kemudian dalang dibalik search engine sederhana "gugel" ini ada 3 mahasiswa yang baru saja merasakan rasanya jurusan.
Dalang yang pertama adalah $Muhammad Fawwaz Naabigh$ 13519206 ig : @fwznbg
Dalang yang kedua adalah $Nizamixavier Rafif Lutvie$ 13519085 ig : @nizamixavier
Dalang yang ketiga adalah $Dwianditya Hanif$ 13519046 ig :@nypnop

Tak lupa kami mengucapkan terimakasih kepada Tuhan Yang Maha Esa dan dosen pengampu Aljabar Linier dan Geometri bapak Rinaldi Munir.
Dan tentunya kakak asisten yang tercinta <3.
</p> 

<p style="color:salmon">test </p>

<hr>

<a href="{{url_for('about')}}">About </a>

<p style="color:salmon">test </p>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
