<!DOCTYPE html>
<html>
<title>¯\_(ツ)_/¯</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<body style="background-color:salmon;">
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="{{url_for('main')}}" class="w3-bar-item w3-button">Home</a>
  <a href="{{url_for('upload')}}" class="w3-bar-item w3-button">Input Document</a>
  <a href="{{url_for('about')}}" class="w3-bar-item w3-button">About</a>
</div>

<!-- Page Content -->
<style>h1 {text-align: center;}</style>
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
  <div class="w3-container">
	<h1>----------Gugel----------</h1>
    <h1>Trusted 100% Legit Reliable Search Engine</h1>
  </div>
</div>


<p style="color:black">Click on the "Choose File" button to upload a file:</p>

<form method="POST" action="" enctype="multipart/form-data">
  <style> 
	input[type=file], input[type=submit] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
  }
  </style>
  <input type="file" id="myFile" name="file" accept=".txt, .html" multiple>
  <input type="submit" value="Submit">
</form>

<p style="color:red">Note: Please input files with .txt or .html extension</p>

<img src="static/comp.jpg" alt="comp" style="width:100%">

<hr>
 
<a href="{{url_for('about')}}">About </a>

<p style="color:salmon">test </p>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
     
</body>
